{% extends 'components/inside_layout.html.twig' %}

{% block title %}Social Contacts | Výpis setkani{% endblock %}


{% block content %}

    <h1 class="h3 mb-2 text-gray-800">Výpis setkani</h1>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message|trans() }}
            </div>
        {% endfor %}
    {% endfor %}
    <a class="btn btn-sm btn-primary mb-2" href="{{ path("meetings_create_meeting") }}">Nove setkani</a>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Lide</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-dark data-table">
                    <thead>
                    <tr>
                        <th>Datum</th>
                        <th>Location</th>
                        <th>Poznamka</th>
                        <th>Ucastniky</th>
                        <th>Akce</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for meeting in meetings %}
                        <tr>
                            <td>{{ meeting.start|date('d.m.Y') }}</td>
                            <td>{{ meeting.location.streetName }} {{ meeting.location.streetNumber }}, {{ meeting.location.city }}, {{ meeting.location.zip }}, {{ meeting.location.country }}</td>
                            <td>{{ meeting.description }}</td>
                            <td>{{ meeting.persons|length }}</td>
                            <td>
                                <a class="btn btn-sm btn-success mb-2" href="{{ path('meetings_detail_meeting', {'id': meeting.id}) }}">Detail</a>
                                <a class="btn btn-sm btn-primary mb-2" href="{{ path('meetings_edit_meeting', {'id': meeting.id}) }}">Editovat</a>
                                <a class="btn btn-sm btn-danger mb-2"
                                   onclick="return confirm('Сhcete osobu odebrat, jste si jisti?')"
                                   href="{{ path('meetings_delete_meeting', {'id': meeting.id}) }}">Vymazat</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}